.tv-show-item {
    text-align: left;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    border: 0.1em;
    border-style: solid;
    margin: 1em 0em;
    border-radius: 5px;
    padding: 2em;
    /* flex-wrap: wrap; */
    max-width: 350px;
}

/* .tv-show-item > h3 {
    justify-self: left;
    align-self: flex-start;
} */

.series-info {
    display: flex;
}

.tv-show-item > button {
    width: 4em;
    align-self:flex-end;
}

.date-rating {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}